@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: inline-flex;
    flex-direction: row;
    gap: 45px;
    justify-content: center;
    width: 100vw;
    height: 30vh;
}

.field {
    border: 1px solid black;
    width: 40vw;
    min-width: 40vw;
    border-radius: 10px;
    overflow: auto;
}

.field h2 {
    height: 20%;
    text-align: center;
    min-width: 100px;
    border-bottom: 1px solid black;
}

#keyboard, #keyCode {
    font-size: 40px;
    text-align: center;
}